*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: #fff;
    overflow: hidden;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #059212;
    border-bottom: 4px solid #059212;
    padding: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}

.container button{
    border: 0;
    outline: 0;
    background: #059212;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none; 
    position: absolute;
    bottom: 310px;
    left: 60%;
    transform: translateX(-50%);
    background: #059212;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    display: block;
    opacity: 1;
}

.bottom-footer{
    position: absolute;
    bottom: 30px;
    left: 34%;
}

.bottom-footer p, .bottom-footer a{
    color: white;
    font-size: medium;
}