html
{
    background-color:black;
    color:white;
	font-size:20px;
}
#blank
{
	width:415px;
	background-color:white;
	color:black;
	text-align:right;
	height:70px;
	font-size:50px;
	
}
#Row11,#Row12,#Row13,#Row14,#Row21,#Row22,#Row23,#Row24,#Row31,#Row32,#Row33,#Row34,#Row41,#Row42,#Row43,#Row44
{
	width:100px;
	height:50px;
	margin:0px;
}
#h
{
	text-align:center;
	color:aqua;
	
}

.main
{
	border-style:solid;
	border-width:10px;
	border-color:aqua;
	border-radius:8px;
	width:415px;
	margin:auto;
}